<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SpellWorks</title>
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />
    <link href="{{url_for('static', filename='css/backup-sidebar.css')}}" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <ul class="vertical-nav dark red">
        <li class="active"><a href="/"><i class="fa fa-home" style="margin-right: 14px;"></i>SpellWorks</a></li>
        <li><a href="#"><i class="fa fa-coffee"></i>Cafes</a>
            <!--         <span class="submenu-icon"></span></a>
            <ul>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航<span class="submenu-icon"></span></a>
                    <ul>
                        <li><a href="#">三级导航</a></li>
                        <li><a href="#">三级导航</a></li>
                        <li><a href="#">三级导航 <span class="submenu-icon"></span>
                </a>
                            <ul>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                            </ul>
                        </li>
                        <li><a href="#">三级导航</a></li>
                    </ul>
                </li>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航</a></li>
            </ul> -->
        </li>
        <li><a href="#"><i class="fa fa-newspaper-o"></i>博客</a></li>
        <li><a href="#"><i class="fa fa-wrench"></i>杂货间</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i>联系我们</a></li>
        <li class="downground"><a id="login" href="#test"><i class="fa fa-sign-in"></i>登录&nbsp;/&nbsp;注册</a></li>
    </ul>
    <div class="modal-inner-container" id="test">
        <div class="modal-header">
            <a class="close"><i class="fa fa-times"></i></a>
            <h3 id="form-title">登录</h3>
        </div>
        <div class="modal-body">
            <form id="login-form" name="login-form" method="post" action="/login/">
                <div id="form-inner">
                    <table id="form-table">
                        <tr>
                            <td>
                                <label for="login-account-name">User&nbsp;</label>
                            </td>
                            <td>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <input id="login-account-name" class="ember-view ember-text-field" autocapitalize="off" autocorrect="off" autofocus="" name="username" placeholder="email or username" type="text">
                            </td>
                            <td></td>
                        </tr>
                        <tr id="password-filed">
                            <td>
                                <label for="login-account-password">Password&nbsp;</label>
                            </td>
                            <td>
                                <input id="login-account-password" class="ember-view ember-text-field" name="password" maxlength="200" placeholder="" type="password"> &nbsp;
                            </td>
                            <td>
                                <a id="forgot-password-link" onclick="javascript:forgot_form()">I forgot my password</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-login btn-primary" onclick="javascript:update(document.login-form);">
                <i class="fa fa-unlock"></i>&nbsp;Done
            </button>
            &nbsp;
            <button class="btn btn-login" id="new-account-link" onclick="javascript:create_regist_form()">
                Create New Account
            </button>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/google-maps.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.leanModal.min.js')}}"></script>
<script type="text/javascript">
    $(function() {
        $('#login').leanModal({
            top: 242,
            closeButton: ".close"
        });
    });

    $(document).ready(function() {
        $(".vertical-nav").verticalnav();
    });

    $(function() {
        $(".close, #lean_overlay").click(function() {
            if($('#new-account-link').css("display") == "none") {
                 $("#new-account-link").toggle(true);
                 $("#form-inner").toggle(true);
                 $('#regist-email').remove();
                 $("#reset-field").remove();
                 $("#login-account-name").attr("placeholder", "email or username");
                 $("[for='login-account-name']").text("User");
                 $("#form-title").text("登录");
            }
        });
    });

    function update() {
        $("#login-form").submit();
    };

    function create_regist_form() {
        $("#form-table").prepend("<tr id='regist-email'><td><label for='regist-account-email'>Email&nbsp;</label></td><td><input id='regist-account-email' class='ember-view ember-text-field' name='email' maxlength='200' placeholder='your email' type='email'> &nbsp;</td>/tr>");
        $("#login-account-name").attr("placeholder", "your username");
        $("[for='login-account-name']").text("Name");
        $("#new-account-link").toggle(false);
        $("#form-title").text("注册")
    };

    function forgot_form() {
        $("#form-title").text("重置密码");
        $("#form-inner").toggle(false);
        $("#new-account-link").toggle(false);
        $("#login-form").prepend("<div id='reset-field'><label for='username-or-email'>输入用户名或者邮箱，我们会发送一封邮件到你的邮箱。</label><input id='username-or-email' class='ember-view ember-text-field' autocapitalize='off' autocorrect='off' placeholder='email or username' type='text'></div>");
    }
</script>

</html>
