<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SpellWorks</title>
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />
    <link href="{{url_for('static', filename='css/backup-sidebar.css')}}" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <ul class="vertical-nav dark red">
            <li class="active"><a href="/"><i class="fa fa-home" style="margin-right: 14px;"></i>SpellWorks</a></li>
            <li><a href="#"><i class="fa fa-coffee"></i>Cafes</a>
                <!--         <span class="submenu-icon"></span></a>
            <ul>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航<span class="submenu-icon"></span></a>
                    <ul>
                        <li><a href="#">三级导航</a></li>
                        <li><a href="#">三级导航</a></li>
                        <li><a href="#">三级导航 <span class="submenu-icon"></span>
                </a>
                            <ul>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                                <li><a href="#">四级导航</a></li>
                            </ul>
                        </li>
                        <li><a href="#">三级导航</a></li>
                    </ul>
                </li>
                <li><a href="#">二级导航</a></li>
                <li><a href="#">二级导航</a></li>
            </ul> -->
            </li>
            <li><a href="#"><i class="fa fa-newspaper-o"></i>博客</a></li>
            <li><a href="#"><i class="fa fa-wrench"></i>杂货间</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>联系我们</a></li>
            <li class="downground"><a id="login" href="#test"><i class="fa fa-sign-in"></i>登录&nbsp;/&nbsp;注册</a></li>
        </ul>
    </div>
    <div class="modal-outer-container">
        <div class="modal-middle-container">
            <div class="modal-inner-container" id="test">
                <div class="modal-header">
                    <a class="close"><i class="fa fa-times"></i></a>
                    <h3 id="form-title">登录</h3>
                </div>
                <div class="modal-body">
                    <form id="login-form" name="login-form" method="post" action="/auth/login/">
                        <div id="form-inner">
                            <table id="form-table">
                                <tr>
                                    <td>
                                        <label for="login-account-name">User&nbsp;</label>
                                    </td>
                                    <td>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                        <input id="login-account-name" class="ember-view ember-text-field" autocapitalize="off" autocorrect="off" autofocus="" name="username" placeholder="email or username" type="text" required>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr id="password-filed">
                                    <td>
                                        <label for="login-account-password">Password&nbsp;</label>
                                    </td>
                                    <td>
                                        <input id="login-account-password" class="ember-view ember-text-field" name="password" maxlength="200" placeholder="" type="password" required> &nbsp;
                                    </td>
                                    <td>
                                        <a id="forgot-password-link" onclick="javascript:forgot_form()">I forgot my password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-login btn-primary" form="login-form">
                        <i class="fa fa-unlock"></i>&nbsp;Done
                    </button>
                    &nbsp;
                    <button class="btn btn-login" id="new-account-link" onclick="javascript:create_regist_form()">
                        Create New Account
                    </button>
                </div>
            </div>
        </div>
    </div>
{% for message in get_flashed_messages() %}
<div class="flash flash-full flash-notice">
    <div class="container">
        <button class="flash-close js-flash-close">
            <span class="fa fa-times"></span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
<a href="https://github.com/spellworks/spellworks" class="github-corner">
  <svg width="80" height="80" viewBox="0 0 250 250" style="position: absolute; top: 0px; right: 0px; border: 0px;">
    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z" fill="#151513"></path>
    <path class="octo-arm" d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="#ffffff" style="transform-origin: 130px 106px;"></path>
    <path class="octo-body" d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="#ffffff"></path>
  </svg>
</a>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/google-maps.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.leanModal.min.js')}}"></script>
<script type="text/javascript">
$(".flash").click(function() {
    $(this).remove()
});

$(function() {
    $('#login').leanModal({
        top: 242,
        closeButton: ".close"
    })
});

$(document).ready(function() {
    $(".vertical-nav").verticalnav()
});

$(function() {
    $(".close, #lean_overlay").click(function() {
        if ($('#new-account-link').css("display") == "none") {
            $("#new-account-link").toggle(true)
            $("#form-inner").toggle(true)
            $('#regist-email').remove()
            $("#reset-field").remove()
            $("#login-account-name").attr("placeholder", "email or username")
            $("[for='login-account-name']").text("User")
            $("#form-title").text("登录")
            $("#login-form").attr("action", "/auth/login/")
        }
    });
});

function create_regist_form() {
    $("#form-table").prepend("<tr id='regist-email'><td><label for='regist-account-email'>Email&nbsp;</label></td><td><input id='regist-account-email' class='ember-view ember-text-field' name='email' maxlength='200' placeholder='your email' type='email'> &nbsp;</td>/tr>")
    $("#login-account-name").attr("placeholder", "your username")
    $("[for='login-account-name']").text("Name")
    $("#new-account-link").toggle(false)
    $("#form-title").text("注册")
    $("#login-form").attr("action", "/auth/regist/")
};

function forgot_form() {
    $("#form-title").text("重置密码")
    $("#form-inner").toggle(false)
    $("#new-account-link").toggle(false)
    $("#login-form").prepend("<div id='reset-field'><label for='username-or-email'>输入用户名或者邮箱，我们会发送一封邮件到你的邮箱。</label><input id='username-or-email' class='ember-view ember-text-field' autocapitalize='off' autocorrect='off' placeholder='email or username' type='text'></div>")
};

$('#login-form').submit(function() {
    $.ajax({
        type: 'POST',
        url: $(this).attr("action"),
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data) {
            $("#modal-alert").remove()
            if(data.status == "ok"){
                window.location.reload()
            }
            else {
                if ($("#modal-alert").length == 0){
                    $(".modal-header").after('<div id="modal-alert" style="display: block;" class="alert alert-error">' + data.message + '</div>')
                }
                else {
                    $("#modal-alert").each(function() {
                        if($(this).text() != data.message) {
                            $(".modal-header").after('<div id="modal-alert" style="display: block;" class="alert alert-error">' + data.message + '</div>')
                        }
                    })
                }
            }
        }
    })
    return false
});
</script>

</html>
