<html>
    <head>
        <title>噫...似乎出了点小问题？</title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
        <style>
            body{font-family: "Microsoft YaHei","Helvetica Neue","STHeiti","STXihei";-webkit-font-smoothing: antialiased;margin: 0;padding: 0;color: #353535;}.preslot{float: left;height: 42%;margin-bottom: -200px;}.error{position: relative;clear: both;font-size: 200px;}.msg{font-size: 2.5em;margin-bottom: .5em;}.footer{clear: both;position: relative;color: #828282;}.des{color:#999999;font-size:1em;margin-bottom: 8em;}.link{color:#0084ff;text-decoration: none;transition: all 0.2s;}.link:hover{color:#ff8a00;transition: all 0.2s;}
        </style>
    </head>
    <body>
        <center>
        <div class="preslot"></div>
        <div class="error">500</div>
        <div class="msg">服务器内部错误</div>
        <div class="des">看见此页面，请点击下面的名字联系我以解决这个问题，感谢你的帮助！</div>
        <div class="footer">
                Powered by <a class="link" href="//github.com/ethe/">Zeno</a>
        </div>
        </center>
    </body>
</html>
